.section-page-books {
    background-color: var(--color-bg-02);
    padding: 45px 0;
    margin-top: 30px;
    overflow: visible;

    @media screen and (min-width: $w1440) {
        margin-top: 45px;
        padding: 60px 0;
    }
}

.page-books {
    &__wrp {
        @media screen and (min-width: $w992) {
            display: flex;
        }
    }

    &__main {
        @media screen and (min-width: $w992) {
            width: 75%;
            max-width: 1050px;
        }
    }

    &__nav {
        @media screen and (min-width: $w992) {
            width: 25%;
            padding-left: 50px;
        }
    }

    &__item {
        padding-top: 60px;
        padding-bottom: 80px;
        border-top: 1px solid #ccc;

        &:first-child {
            border-top: none;
            padding-top: 0px;
        }
    }
}

.book-card {
    &__title {
        & h2 {
            @include font-h2;
            margin: 0;
        }

        padding-bottom: 24px;


    }

    &__details {
        display: flex;
        padding-bottom: 30px;

        @media screen and (min-width: $w1440) {
            padding-bottom: 40px;
        }
    }

    &__detail {
        display: flex;
        flex-direction: column;
        padding-right: 12%;

        & span {
            color: var(--color-text-02);
            padding-bottom: 0.2em
        }

        & strong {
            @include font-h4;

            @media screen and (max-width: $w480) {
                font-size: 18px;
            }
        }
    }

    &__about {
        padding-top: 30px;

        @media screen and (min-width: $w1440) {
            padding-top: 60px;
        }
    }

    &__label {
        @include font-h3;
        padding-bottom: 24px;
    }

    &__row {


        @media screen and (min-width: $w992) {
            display: flex;
        }
    }

    &__left {
        @media screen and (min-width: $w992) {
            width: 60%;
            max-width: 1050px;
        }
    }

    &__right {

        padding-top: 30px;

        @media screen and (min-width: $w992) {
            width: 40%;
            padding-left: 50px;
            padding-top: 0;
        }
    }

    &__autor {
        display: flex;
    }

    &__a {
        &-photo {
            width: 80px;
            min-width: 80px;

            @media screen and (min-width: $w576) {
                width: 112px;
                min-width: 112px;
            }

            & picture {
                @include picture(100%, cover);
            }

            @media screen and (min-width: $w760) {
                border: 6px solid var(--color-bg-01);
            }
        }

        &-desc {
            width: calc(100% - 112px);
            padding-left: 24px;
            font-weight: 600;
            line-height: 155%;

            @media screen and (min-width: $w1440) {
                font-size: 18px;
            }
        }
    }

    &__action {
        margin: -6px;
        padding-top: 24px;

        @media screen and (min-width: $w760) {
            display: flex;
        }
    }

    &__order {

        padding: 6px;

        & a {
            display: flex;
            flex-direction: column;
            background-color: #fff;
            color: #000;
            padding: 12px 24px;
            outline: 1px solid var(--color-bg-03);
            border: 3px solid transparent;
            transition: 0.3s ease;
            cursor: pointer;

            @media screen and (min-width: $w1440) {
                padding: 16px 32px;
            }

            &:hover {
                color: #000;
                outline: 1px solid #fff;
                border-color: var(--color-bg-02);

                & span {
                    background-position: 100% 52%;
                }
            }

            & span {
                font-size: 16px;
                padding-right: 24px;
                display: block;

                background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNiIgaGVpZ2h0PSIxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTS4yOTMgOS43MDdhMSAxIDAgMDEwLTEuNDE0TDMuNTg2IDUgLjI5MyAxLjcwN0ExIDEgMCAwMTEuNzA3LjI5M2w0IDRhMSAxIDAgMDEwIDEuNDE0bC00IDRhMSAxIDAgMDEtMS40MTQgMHoiIGZpbGw9IiMxRjFGMUYiLz48L3N2Zz4=);
                background-position: 98% 52%;
                background-repeat: no-repeat;
                transition: 0.3s ease;
            }

            & strong {
                font-size: 20px;
                font-weight: 700;
            }


        }
    }
}

.book-slider {

    @keyframes slideChangeLeft {
        from {
            transform: translateY(60px) translateX(-60px);
        }

        to {
            transform: translateY(0) translateX(0);
            opacity: 1;
        }
    }

    @keyframes slideChangeRight {
        from {
            transform: translateY(-60px) translateX(120px);
        }

        to {
            transform: translateY(0) translateX(0);
            opacity: 1;
        }
    }

    @keyframes slideChangeLeftOut {
        from {
            transform: translateY(0) translateX(0);
            opacity: 1;
        }


        to {
            transform: translateY(60px) translateX(-60px);
            opacity: 0;
        }
    }

    @keyframes slideChangeRightOut {

        from {
            transform: translateY(0) translateX(0);
            opacity: 1;
        }

        to {
            transform: translateY(-60px) translateX(120px);
            opacity: 0;
        }
    }

    &:not(.is-loaded) {
        & .book-slider {
            &__list {
                transform: scale(0);
            }
        }
    }

    &:not(.is-init) {
        & .book-slider {
            &__item {
                opacity: 0;
                animation: none;
            }
        }
    }

    &__item {
        display: none;
        opacity: 0;



        &.is-active {
            display: block;
            padding-top: 7%;

            animation: slideChangeLeft 1s ease forwards;

            &+div {
                display: block;
                margin-top: -10px;


                animation: slideChangeRight 1s ease forwards;


            }
        }

        &.animate-hide {
            animation: slideChangeLeftOut 1s ease forwards;

            &+div {
                animation: slideChangeRightOut 1s ease forwards;
            }
        }
    }

    &__list {
        display: flex;
        margin: 0 -8px;
        justify-content: flex-start;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        min-width: 100%;
        transition: 1s ease;
        transform: scale(1);

        @media screen and (min-width: $w1440) {
            margin: 0 -30px;
        }
    }

    &__item {
        width: 50%;
        padding: 0 8px;

        @media screen and (min-width: $w1440) {
            padding: 0 30px;
        }

        & picture {
            @include picture(142%, cover);
        }
    }

    &__nav {
        display: flex;
        align-items: center;
        padding-top: 30px;
    }

    &__pagination {

        padding: 0 16px;

        @media screen and (max-width: $w480) {
            flex-grow: 1;
            display: flex;
            justify-content: center;
        }

        & ul {
            display: flex;

            & li {
                width: 16px;
                height: 16px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: transparent;
                border: 1px solid transparent;
                border-radius: 0;
                margin: 0 4px;

                &::after {
                    content: '';
                    display: inline-block;
                    width: 8px;
                    height: 8px;
                    background-color: var(--color-borders-01);
                    border-radius: 0;
                }

                &.is-active {
                    transform: none;
                    border: 1px solid var(--color-text-03);
                }
            }
        }
    }

    &__arrow {
        width: 48px;
        height: 48px;
        background-color: var(--color-bg-03);
        opacity: 1;
        border-radius: 0;
        transition: 0.3s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: 3px solid transparent;
        outline: 1px solid transparent;

        &:hover {
            border: 3px solid var(--color-bg-01);
            outline: 1px solid var(--color-bg-03);
        }

        & svg {
            fill: #fff;
            height: 1.2em;
            width: 1.2em;
        }
    }

}

.animate {

    transition: 0.6s ease 0.1s;

    &.fadeTop {
        opacity: 0;
        transform: translateY(5vh);
    }

    &.animated {
        &.fadeTop {
            opacity: 1;
            transform: translateY(0);
        }
    }
}