

mixin about-block

    -
        const digits = [
            {
                num: '400+',
                desc: 'выполненных проектов',
            },
            {
                num: '100+',
                desc: 'текущих строящихся объектов',
            },
            {
                num: '50+',
                desc: 'авторских надзоров в МО и ЛО',
            },
            {
                num: '20+',
                desc: 'проектов интерьера',
            }
        ]

    section.section-about-block
         
            .about-block__photos(data-marquee="container")
                .about-block__slider.dragscroll
                    .about-block__track
                        .about-block__slide: +picture_no_lazy('/img/slider/asl_1')
                        .about-block__slide: +picture_no_lazy('/img/slider/asl_2')
                .about-block__text
                    .formated-text
                        h3 Грамотный системный подход к проектированию дома
                        p Мы – слаженная команда авторов архитектурных проектов современных жилых резиденций. Каждый проект мы создаем на основе многолетнего опыта работы и понимания того, что такое качественная документация для строительства. Наша сильная сторона – это полные архитектурные, конструктивные и инженерные разделы проекта.
                        p Мы – слаженная команда авторов архитектурных проектов современных жилых резиденций. Каждый проект мы создаем на основе многолетнего опыта работы и понимания того, что такое качественная документация для строительства. Наша сильная сторона – это полные архитектурные, конструктивные и инженерные разделы проекта.
            

            .container
            
                .about-block__digits.animate

                    .digits-block
                        .digits-block__list
                            each item in digits
                                .digits-block__item 
                                    .digits-block__title= item.num
                                    .digits-block__desc= item.desc
                                    .digits-block__wave
                            

                .about-block__mission

                    .mission-block.animate
                        .mission-block__main
                            .mission-block__title Наша миссия
                            .mission-block__desc Создавать проект дома как системный продукт, который отвечает на все строительные вопросы: о дизайне и внешнем виде, грамотной функциональной организации планировок, бюджете строительства и технологиях. Это всесторонне-проработанный проект, где учтены все этапы работы от начала до завершения строительства.
                        .mission-block__btn
                            a(href='#'): button.btn Подробнее о нас