mixin project-details
    .container: section.section-project-details
        .project-details
        
            .project-details__content
                .project-details__images
                    .project-details__gallery
                        .splide(data-slider="main-project")
                            .splide__track
                                .splide__list
                                    each item in [10,11,3,4,5,6,9,8]
                                        .splide__slide
                                                +picture('/img/slider/asl_' + item)
                                                
                    .project-details__thumb
                        .project-thumb
                            .project-thumb__prev(data-slider="project-thumb-prev"): +icons('#ic_arrow-prev')
                            .project-thumb__slider
                                .splide(data-slider="thumb-project")
                                    .splide__track
                                        .splide__list
                                            each item in [10,11,3,4,5,6,9,8]
                                                .splide__slide: +picture('/img/slider/asl_' + item)
                            .project-thumb__next(data-slider="project-thumb-next"): +icons('#ic_arrow-next')


                .project-details__desc
                    .project-details__title О проекте
                    .project-details__details
                        ul
                            li
                                span Автор(ы) проекта:
                                | Виталий Злобин, Егор Холоденко, Анастасия Козлова
                            li
                                span Руководитель проекта:
                                | Егор Холоденко
                            li
                                span Архитектор(ы):
                                | Анастасия Козлова

                    .project-details__text.formated-text

                        h5 Участок
                        p Этот проект был разработан для участка, с изначальным ограничением по ширине — 16 м, так как рядом расположен соседски деревянный дом.
                        p Заказчик хотел исключительно одноэтажный дом и мы предложили две концепции планировок: более привычный прямой по форме дом и изогнутый, одним из преимуществ которого является внутренний приватный дворик, который появляется благодаря изломанной форме дома. Еще одно преимущество этого решения — выразительная архитектура.
                        
                        h5 Фасады
                        p Стиль минимализм кроме формы дома проявлен в отделке — белая штукатурка, на прямых и ровных участках фасада и деревянный планкен тёплого оттенка, который который усиливает динамику изогнутых линий.

                        h5 Планировки
                        p Вход в дом ориентирован на северо-восток. Крыльцо нестандартной формы продиктовано ограничениями участка. Прихожая с доступом в открытую гардеробную и гостевой санузел ориентирована на север. Далее через холл мы можем попасть в основные помещения, в конце холла мастер-спальня с местом под детскую кроватку, организованным рабочим местом. Одна из детских может быть переоборудована в кабинет с небольшой кладовой. Так ж кладовая есть при кухне, она, как и теплогенераторная неправильной формы, что позволило сделать остальные помещения прямоугольными.
                        p Помещение кухни — столовой — гостиной Г-обратной формы с панорамными окнами выходящими на юго-запад с входом на террасу и видим на участок.
                        p Терраса выходит на ветряную сторону, поэтому архитекторы предложили вариант безрамного остекления, что позволит использовать помещение и в холодное время.
                        p Естественный перепад высоты рельефа на участке позволил нам сделать минимальный и очень плавный переход из террасы наружу участка.

                        h5 Все параметры
                        p Этажность — 1
                        p Общая площадь (без учета террасы и крыльца) — 154,9 м2
                        p Площадь террас и крылец — 33,9 м2 Жилая площадь — 92,1 м2
                        p Площадь застройки — 296,83 м2
                        p Строительный объем — 1 258, 5592 м3
                        p Высота здания от уровня земли до верхней точки парапета — 4,24 м.
                        p Толщина наружных стен переменная: толщина 550 мм — газобетонный блок D400 — 300 мм, утепленный минеральной ватой 150 мм + штукатурка по навесной системе из ЦСП белого цвета, толщина 550 мм; газобетонный блок D400 — 300 мм, утепленный минеральной ватой 150 мм + отделка термопланкеном натурального оттенка на подсистеме.
                        p Внутренние несущие стены — газобетонный блок D400 — 300 мм;3.
                        p Перегородки — керамический пустотелый кирпич 120 мм.4.
                        p Вентканалы/дымоходы выполнены из керамического кирпича 380 мм. 5. Высота потолков — 3,30 м. С инженерными коммуникациями — 3 м.
                        


            .project-details__aside
                .project-aside
                    .project-aside__title Параметры проекта
                    .project-aside__props
                        .portfolio-prop
                            .portfolio-prop__label Общая площадь:
                            .portfolio-prop__value 375 м2
                        .portfolio-prop
                            .portfolio-prop__label Жилая площадь:
                            .portfolio-prop__value 95 м2
                        .portfolio-prop
                            .portfolio-prop__label Этажность:
                            .portfolio-prop__value 1 Этаж

                        .portfolio-prop
                            .portfolio-prop__label Крыша:
                            .portfolio-prop__value Плоская

                    .project-aside__more
                        span Больше параметров

                    .project-aside__write
                        button.btn.btn-white(data-modal="/parts/_popup-callback.html") Напишите нам