.section-project-details {

    overflow: visible;

    @media screen and (min-width: $w576) {
        padding: 32px 0;
    }
}

.project-details {

    @media screen and (min-width: $w992) {
        display: flex;
    }

    &__aside {

        margin-top: 16px;

        @media screen and (min-width: $w1440) {

            width: 448px;
            min-width: 448px;


        }

        @media screen and (min-width: $w992) {
            width: 360px;
            min-width: 360px;
            margin-top: 0;

            & .project-aside {
                position: sticky;

                @media screen and (min-width: $w992) {
                    top: calc(var(--hgt-header) + 32px);
                }
            }
        }
    }

    &__content {
        @media screen and (min-width: $w1440) {
            width: calc(100% - 448px);
            padding-right: 32px;
        }

        @media screen and (min-width: $w992) {
            width: calc(100% - 360px);
            padding-right: 32px;
        }
    }

    &__images {
        @media screen and (max-width: $w480) {
            margin: 0 -16px
        }
    }

    &__gallery {
        & picture {
            @include picture(65.2%, cover);
            background-color: #222;

            @media screen and (min-width: $w760) {
                padding-top: 56.2%;
            }
        }
    }

    &__thumb {
        padding: 4px;
        background-color: var(--color-bg-02);

        @media screen and (min-width: $w576) {
            padding: 16px;
        }

        & .splide__slide.is-active {
            border-color: transparent !important;
        }



        @media screen and (max-width: $w576) {
            & .project-thumb {

                &__next,
                &__prev {
                    display: none !important;
                }

                &__slider {
                    width: 100%;
                }
            }
        }

    }

    &__desc {
        padding: 24px 16px;
        background-color: var(--color-bg-02);
        margin-top: 16px;

        @media screen and (min-width: $w576) {
            padding: 24px;
        }

        @media screen and (min-width: $w1440) {
            padding: 32px;
            margin-top: 32px;
        }
    }

    &__title {
        @include font-h3;
        padding-bottom: 24px;

        @media screen and (min-width: $w1440) {
            padding-bottom: 32px;
        }
    }

    &__details {



        & li {
            display: flex;
            flex-direction: column;
            font-size: 16px;
            font-weight: 700;
            padding-bottom: 22px;

            @media screen and (min-width: $w1440) {
                font-size: 18px;
            }

            & span {
                display: block;
                font-weight: normal;
                font-size: 15px;
                color: var(--color-text-02);
                padding-bottom: 10px;
            }

            &:last-child {
                padding-bottom: 0
            }
        }
    }

    &__text {
        &.formated-text {
            & h5 {
                @include font-h4;
            }
        }
    }

}


.project-details__gallery .splide:not(.is-initialized) {
    height: 100%;
    background: #2e2e2e;
    visibility: visible
}

.project-details__gallery .splide:not(.is-initialized) .splide__list {
    width: 100%
}

.project-details__gallery .splide:not(.is-initialized) .splide__slide {
    display: none
}

.project-details__gallery .splide:not(.is-initialized) .splide__slide:first-child {
    display: block;
    width: 100%;
    opacity: 0
}


.project-details__thumb .splide:not(.is-initialized) {
    height: 100%;
    background: #2e2e2e;
    visibility: visible
}

.project-details__thumb .splide:not(.is-initialized) .splide__list {
    width: 100%
}

.project-details__thumb .splide:not(.is-initialized) .splide__slide {

    width: 120px;
}

.project-aside {
    padding: 24px 16px;
    background-color: var(--color-bg-02);

    @media screen and (min-width: $w576) {
        padding: 24px;
    }

    @media screen and (min-width: $w1440) {
        padding: 32px;
    }

    &__title {
        @include font-h3;
        padding-bottom: 12px;

        @media screen and (min-width: $w1440) {
            padding-bottom: 24px;
        }
    }

    &__props {

        padding-bottom: 20px;



        &>div {
            padding-bottom: 28px;
            display: none;

            &:nth-child(-n + 4) {
                display: block;
            }


            & .portfolio-prop {
                &__label {
                    text-align: left !important;
                }
            }

        }

        &.is-open {
            &>div {
                display: block;
            }
        }

    }

    &__more {
        padding-bottom: 24px;

        @media screen and (min-width: $w1200) {
            padding-bottom: 36px;
        }

        @media screen and (min-width: $w1440) {
            padding-bottom: 83px;
        }

        color: var(--color-text-03);

        &.is-open {
            & span::after {
                transform: translateX(0.1px) rotate(270deg);
                transition: 0.3s ease;
            }
        }

        & span {
            display: inline-flex;
            align-items: center;
            cursor: pointer;

            &::after {
                content: '';
                background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNiIgaGVpZ2h0PSIxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMSA5bDQtNC00LTQiIHN0cm9rZT0iIzdFODU4RiIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz48L3N2Zz4=);
                width: 12px;
                height: 12px;
                display: inline-block;
                background-position: center;
                background-repeat: no-repeat;
                margin-left: 6px;
                margin-top: 2px;
                transition: 0.3s ease;
                transform: translateX(0.1px) rotate(90deg);
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__write {
        & .btn {
            width: 100%;
        }
    }
}