.blog {

    padding-top: 30px;
    padding-bottom: 60px;

    &.animate {

        & .blog__item {
            opacity: 0;
            transform: translateY(50px);
        }

    }

    &.animated {

        & .blog__item {
            opacity: 1;
            transform: translateX(0);

            &:nth-child(2) {
                transition-delay: 0.2s;
            }

            &:nth-child(3) {
                transition-delay: 0.3s;
            }

            &:nth-child(4) {
                transition-delay: 0.4s;
            }

            &:nth-child(5) {
                transition-delay: 0.5s;
            }

            &:nth-child(6) {
                transition-delay: 0.6s;
            }

        }

    }

    &__link {

        padding-bottom: 24px;

        @media screen and (min-width: $w1440) {
            padding-bottom: 32px;
        }

        & ul {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -4px;

            & li {
                padding: 0 4px;

                & a {
                    color: var(--color-text-02);
                    background-color: var(--color-bg-02);
                    display: block;
                    padding: 6px 10px;


                    &:hover {
                        color: var(--color-text-01);
                    }
                }
            }
        }

    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 30px;
    }

    &__item {
        width: 100%;
        transition: 0.6s ease;

        @media screen and (min-width: $w1200) {
            width: 33.33%;
        }

        margin-right: -1px;
        margin-bottom: -1px;
    }


}