extends ../layouts/main

include ../../blocks/components/breadcrumb/breadcrumb.pug
include ../../blocks/modules/about-block/about-block.pug
 
block variables
  include ../../data/data.pug
  - const title = "Homespro - О компании"
 

block main
   
  .page
    .container
      .page__breadcrumb
        +breadcrumb([
          'Главная',
          'О компании',
        ])
      .page__title: h1 О компании
      .page__desc
        div.max-width-960 Продуманный и комфортный для жизни дизайн дома, созвучный духу нашего времени и подходящий для интеграции с современными технологиями.
 
  +about-block-2
 
block scripts
  script(src="/js/vendor.js") 
  script(src="/js/common.js")  