extends ../layouts/main

include ../../blocks/components/breadcrumb/breadcrumb.pug
include ../../blocks/modules/page-portfolio/page-portfolio
 
block variables
  include ../../data/data.pug
  - const title = "Homespro - Архитектура"
 

block main
   
  section.page
    .container
      .page__breadcrumb
        +breadcrumb([
          'Главная',
          'Портфолио',
          'Архитектура',
        ])
      .page__title: h1 Архитектура
      .page__desc Индивидуальные архитектурные проекты на любой самый изысканный вкус.

  +page-portfolio 
 
block scripts
  script(src="/js/vendor.js") 
  script(src="/js/common.js")  