extends ../layouts/main

include ../../blocks/components/breadcrumb/breadcrumb.pug
include ../../blocks/modules/blog-details/blog-details.pug
include ../../blocks/modules/last-acticles/last-acticles.pug
 
 
block variables
  include ../../data/data.pug
  - const title = "Homespro - Блог"
 

block main
  .page
    .container
      .page__breadcrumb
        +breadcrumb([
          'Главная',
          'Портфолио',
          'Блог',
          'Как выбрать проект дома?',
        ])
  
  +blog-details
  +last-acticles_details(article_details)

 
 
 
block scripts
  script(src="/js/vendor.js") 
  script(src="/js/common.js")  