extends ../layouts/main

include ../../blocks/components/breadcrumb/breadcrumb.pug
include ../../blocks/modules/page-books/page-books.pug
 
block variables
  include ../../data/data.pug
  - const title = "Homespro - Дизайн"
 

block main
   
  .page
    .container
      .page__breadcrumb
        +breadcrumb([
          'Главная',
          'Портфолио',
          'Дизайн',
        ])
      .page__title: h1 Книги
      .page__desc: div.max-width-960 Автор книг — Виталий Злобин, профессиональный архитектор и основатель школы проектирования, руководитель  архитектурной студии HOMESPRO.
  
  +page-books
 
 
block scripts
  script(src="/js/vendor.js") 
  script(src="/js/common.js") 