extends ../layouts/main

include ../../blocks/components/breadcrumb/breadcrumb.pug
 
block variables
  include ../../data/data.pug
  - const title = "Homespro - Ландшафтный дизайн"
 

block main
   
  .page
    .container
      .page__breadcrumb
        +breadcrumb([
          'Главная',
          'Портфолио',
          'Ландшафтный дизайн',
        ])
      .page__title: h1 Ландшафтный дизайн
      .page__desc Индивидуальные архитектурные проекты на любой самый изысканный вкус.
 
 
block scripts
  script(src="/js/vendor.js") 
  script(src="/js/common.js")  