mixin about-autor
    section.section-about-autor
        .container
            .about-autor
                .about-autor__wrp
                    .about-autor__card
                        .about-autor__iamge: +picture('')
                        .about-autor__title Виталий Злобин 
                        .about-autor__desc Архитектор и основатель школы проектирования, создал архитектурную студию «HOMESPRO» в августе 2019 года.
                        .about-autor__btn
                            a(href='#'): button.btn Подробнее о Виталии
                    .about-autor__main
                        .about-autor__desc
                            p «HOMESPRO» — это сильная команда дизайнеров, архитекторов, инженеров с большим опытом архитектурной работы и технического проектирования современных индивидуальных жилых домов.
                            p Наше основное направление — продуманный и комфортный для жизни дизайн дома, созвучный духу нашего времени и подходящий для интеграции с современными технологиями.
                        .about-autor__dl
                            a(href='#'): button.btn Скачать презентацию компании
                        .about-autor__digits
                            .digits-block__item 
                                .digits-block__title 400+
                                .digits-block__desc выполненных проектов
                                .digits-block__wave