.section-review-project {
    background-color: var(--color-bg-02);
    padding: 50px 0;

    @media screen and (min-width: $w1440) {
        padding: 95px 0 95px 0;
    }

    &--min {

        & .review-project {
            max-width: 1050px;
        }


    }
}

.review-project {
    background-color: var(--color-bg-02);

    &__title {
        @include font-h1;
        padding-bottom: 0.8em;
    }

    &__slider {
        padding-bottom: 30px;
    }

    &__thumb {
        padding: 4px;
        background-color: var(--color-bg-01);

        @media screen and (min-width: $w576) {
            padding: 16px;
        }

        & .splide__slide.is-active {
            border-color: transparent !important;
        }



        @media screen and (max-width: $w576) {
            & .project-thumb {

                &__next,
                &__prev {
                    display: none !important;
                }

                &__slider {
                    width: 100%;
                }
            }
        }

    }
}

.card-review {
    padding: 16px;
    background-color: var(--color-bg-01);
    height: 100%;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $w1200) {
        padding: 24px;
    }

    &__image {

        padding-bottom: 16px;

        & picture {
            @include picture(56%, cover);
        }
    }

    &__name {
        padding-bottom: 10px;
        color: var(--color-text-02);
        font-size: 14px;
    }

    &__text {
        padding-bottom: 16px;
        color: var(--color-text-01);
        font-weight: 700;
        line-height: 155%;

        @media screen and (min-width: $w1440) {
            font-size: 18px;
            padding-bottom: 40px;
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        margin-top: auto;
    }

    &__autor,
    &__project {
        display: flex;
        flex-direction: column;

        font-size: 13px;

        @media screen and (min-width: $w760) {
            font-size: 14px;
        }

        & span {
            color: var(--color-text-02);
        }

        & strong {
            color: var(--color-text-01);
            font-weight: 700;

            @include line-clamp(2);
        }
    }

    &__project {

        padding-right: 24px;

        & strong {
            padding-right: 16px;
        }


    }

    &__autor {
        & strong {
            white-space: nowrap;
            text-align: right;
        }

        & span {
            text-align: right;
        }
    }
}