extends layouts/main

include ../blocks/modules/main-block/main-block
include ../blocks/modules/about-block/about-block
include ../blocks/modules/projects-block/projects-block
include ../blocks/modules/services-block/services-block
include ../blocks/modules/video-block/video-block
include ../blocks/modules/team-block/team-block

 
block variables
  include ../data/data.pug
  - const title = "Homespro"
 

block main
   
  +main-block
  +about-block
  +projects-block
  +services-block
  +video-block
  +team-block

 
 
block scripts
  script(src="/js/vendor.js") 
  script(src="/js/common.js") 