.section-main-block {
    position: relative;

    background-image: linear-gradient(270deg, #1f1f1f, #2f2f2f, #1f1f1f);
    background-size: 600% 100%;
    animation: 8s ease 0s 1 normal both running bg-pan-left;

    @keyframes slide-block-left {
        0% {
            transform: skewX(31deg) translateX(-100%);
            opacity: 0;
        }

        20% {
            transform: skewX(31deg) translateX(40%);
            opacity: 1;
        }

        80% {
            width: 70vw;
            transform: skewX(31deg) translateX(70%);
        }

        100% {
            transform: skewX(31deg) translateX(100%);
            opacity: 1;
            left: 100%;
        }
    }

    &::before {
        content: '';
        position: absolute;
        background-color: rgb(40, 40, 40);
        width: 378px;
        height: 100%;
        opacity: 0;
        top: 0;
        left: 0;
        transform: skewX(31deg) translateX(-100%);
        z-index: 1;
        animation: slide-block-left 3s ease forwards;
        animation-delay: 2s;

        @media screen and (max-width: $w480) {

            left: 20vw;
        }
    }

    & .container {
        @media screen and (max-width: $w992) {
            position: relative;
            z-index: 3;
        }
    }
}



.main-block {

    padding: 50px 0 0 0;

    @media screen and (min-width: $w992) {
        padding: 30px 0 0 0;
    }

    &__title {
        & h1 {
            @include font-h1;

            @media screen and (min-width: $w1440) {
                margin-bottom: 15px;
            }
        }
    }

    &__subtitle {
        color: var(--color-text-02);
        padding-bottom: 20px;
        font-size: 16px;
        line-height: 155%;

        @media screen and (min-width: $w1440) {
            font-size: 18px;
        }
    }

    &__main {
        @media screen and (min-width: $w992) {
            position: relative;
            z-index: 2;
            max-width: 500px;
            min-height: 420px;
        }

        @media screen and (min-width: $w1440) {
            min-height: 500px;
        }
    }

    &__image {

        overflow: hidden;
        margin: 0 -16px;

        @media screen and (min-width: $w480) {
            margin: 0;
        }

        @media screen and (min-width: $w992) {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            display: flex;
            align-items: center;

            & svg {
                height: auto;

                @media screen and (min-width: $w1440) {
                    margin-top: -30px;
                }
            }
        }

        @media screen and (min-width: $w1440) {
            margin-bottom: -85px;
        }

        & svg {
            width: calc(100% + 50%);
            margin-left: -45%;
            height: 161px;

            @media screen and (min-width: $w480) {
                height: 200px;
            }

            @media screen and (min-width: $w576) {
                margin-left: -20%;
                width: calc(100% + 20%);
            }

            @media screen and (min-width: $w760) {
                margin-left: 0;
                width: 100%;
            }
        }
    }
}

.main-block__image path {
    stroke-dasharray: 3500;
    stroke-dashoffset: 3500;
    animation: dash 4s cubic-bezier(.95, .37, .57, 1.26)forwards;
}

@keyframes dash {
    to {
        stroke-dashoffset: 1700;
    }
}