mixin main-block
    section.section-main-block
        .container
            .main-block
                .main-block__wrp
                    .main-block__main
                        .main-block__title: h1 Архитектурная студия HOMESPRO
                        .main-block__subtitle Продуманный и комфортный для жизни дизайн дома, созвучный духу нашего времени и подходящий для интеграции с современными технологиями
                    .main-block__image
                        include ../../../img/common/house-vector-illustration.svg 