mixin blog-details
    section.section-blog-details
        .container
            .blog-details
                .blog-details__main
                    
                    .blog-details__title: h1 Как выбрать проект дома?
                    .blog-details__details
                        .blog-details__mtr
                            ul
                                li: span Обзоры
                                li: span 28 марта
                        .blog-details__share
                            span Поделиться:
                            ul
                                li: a(href='#'): +bgimage('/img/icons/icon-vk.svg')
                                li: a(href='#'): +bgimage('/img/icons/icon-telegram.svg')
                                li: a(href='#'): +bgimage('/img/icons/icon-zen.svg')


                    .blog-details__cover: +picture('/img/video/video_6')
                    .blog-details__article
                        article
                            .article
                                .article__textblock.animate
                                    .formated-text
                                        strong Каждый месяц наша студия проектирует несколько новых типовых проектов. На нашем сайте их достаточно большое количество и очень важно при выборе лучшего для себя проекта понимать, на что обратить внимание в первую очередь. Если вы выбираете проект дома, значит, что земля у вас уже есть и первым делом нужно понять ограничения именно вашего участка.
                                        h3 Органичения земельного участка
                                        p Ограничения есть везде и лучший способ их узнать — получить (ГПЗУ) — градостроительный план земельного участка. В дополнение к ГПЗУ рекомендуем узнать, какие дома уже построены по соседству. Это поможет корректно отложить противопожарные отступы. К примеру, если на соседнем участке стоит деревянный дом, который уже зарегистрировали (!)., придётся отступить на достаточно большое расстояние). Так, зная все ограничения, вы сможете понять, какие габариты дома подойдут именно вам.

                                .article__gallery.animate
                                    .splide(data-slider="gallery-article")
                                        .splide__track
                                            .splide__list
                                                .splide__slide: a(href='/img/slider/asl_3.jpg' data-fslightbox="g1"): +picture('/img/slider/asl_3')
                                                .splide__slide: a(href='/img/slider/asl_4.jpg' data-fslightbox="g1"): +picture('/img/slider/asl_4')
                                                .splide__slide: a(href='/img/slider/asl_5.jpg' data-fslightbox="g1"): +picture('/img/slider/asl_5')

                                .article__textblock.animate
                                    .formated-text
                                        h3 Состав помещений в доме
                                        p Вторым шагом после определения ограничений участка, необходимо определиться с составом помещений в доме.
                                        p Проанализируйте свой образ жизни, свою семью, возможно будущую, потому что дом мы часто строим с планами на пополнение в семье. Все планы должны быть в сценарии использования будущего дома. И лучше их прописать на 5, 10, 15, 20 лет вперёд!
                                        p В этих сценариях неплохо учесть тех, кто будет приезжать к вам в дом — друзья, близкие, дальние родственники. Нужно учесть, как вы работаете — удалённо или выезжая каждый день с утра в центр города и возвращаетесь поздно. Что вы будете делать в выходные? Это надо продумать и на летний сезон и на зимний.
                                        p Так, шаг за шагом вы складываете полную картину дома и появляется понимание, для чего он вам нужен. Если вы сомневаетесь что какие-то помещения вам нужны какие-то нет — снимите дом в аренду, например, на выходные — это не сложно сделать практически в любом городе нашей страны. Так, вы пробуете жить в разных домах — с одним санузлом, с несколькими. Так, вы начнёте понимать, какая конфигурация планировки вам больше подходит, а это уже следующий шаг к выбору вашего дома.

                                .article__gallery.animate
                                    .splide(data-slider="gallery-article")
                                        .splide__track
                                            .splide__list
                                                .splide__slide: a(href='./img/slider/asl_6.jpg' data-fslightbox="g2"): +picture('/img/slider/asl_6')

                                .article__textblock.animate
                                    .formated-text
                                        h3 Площадь вашего дома
                                        p После того, как вы определились с посадкой дома на участке и составом помещений, который вы определили для себя, можно примерно понять, какая будет площадь каждого помещения:
                                        ul
                                            li Кухня-гостиная около 40м2;
                                            li Спальня около 15 м2;
                                            li Санузел около 5 м2;
                                            li Кладовая около 4 м2;
                                            li Гардеробная около 5 м2;
                                            li Теплогенераторная около 6 м2.
                                        p Не забывайте про холл, коридоры и лестницу. Эти помещения занимают в одноэтажных домах около 20%, в двухэтажных — 15%. Прибавляйте эти проценты к вашим площадям.

                                .article__gallery.animate
                                    .splide(data-slider="gallery-article")
                                        .splide__track
                                            .splide__list
                                                .splide__slide: a(href='/img/slider/asl_5.jpg' data-fslightbox="g3"): +picture('/img/slider/asl_5')
                                                .splide__slide: a(href='/img/slider/asl_6.jpg' data-fslightbox="g3"): +picture('/img/slider/asl_6')
                                                .splide__slide: a(href='/img/slider/asl_7.jpg' data-fslightbox="g3"): +picture('/img/slider/asl_7')

                                .article__textblock.animate
                                    .formated-text
                                        h3 Стилистика фасадов вашего дома
                                        p Выбор образа дома — процесс творческий, где эмоции играют основную роль. Наш совет: нужно расширить кругозор.
                                        p Изучите такие ресурсы, как Pinterest и другие архитектурные ресурсы, социальные сети. Во время изучения выберите 10 вариантов домов, в стилях, которые вам нравятся и затем отложите их минимум на неделю.
                                        p После этого, выберите из этих летят вариантов всего три варианта. На всех трёх картинках разные варианты фасадов — продолжайте изучение, если же все похожи, значит, вы определились с образом вашего дома. Пора переходить к выбору планировочных решений в выбранных проектах.
                                        p Это правило 10-3-1 позволит вам сфокусировался на одном стиле и экономит ваше время в поиске дома вашей мечты.

                                .article__gallery.animate
                                    .splide(data-slider="gallery-article")
                                        .splide__track
                                            .splide__list
                                                .splide__slide: a(href='/img/video/video_0.jpg' data-fslightbox="g4"): +picture('/img/video/video_0') 
                                
                                .article__textblock.animate
                                    .formated-text
                                        h3 Стоимость строительства дома
                                        p Как узнать примерную стоимость строительства «под ключ» выбранного вами дома?
                                        p Можно разослать запрос в строительные компании, но, как правило, там Вам скажут стоимость строительства коробки. А это далеко не полная стоимость, плюс такое исследование займёт много времени.
                                        p Наш совет: если вы пока на старте и только прицениваетесь, лучшим решением будет взять за основу стоимость квадратного метра в вашем регионе и умножить на площадь будущего дома.
                                        p К примеру для Москвы такая стоимость 120-130 тыс. руб. за кв. м. Таким образом, вы получите примерную стоимость будущего дома, с небольшой погрешностью и с небольшим запасом. Эту сумму можно разделить на время строительства, как правило это 2-3 года. Но мы рекомендуем начинать строительство с суммой 50-70 % от всего бюджета.
                                        p А найти дом, который полностью отражает ваши представления о том, какой должна быть жизнь за городом, вы можете в нашем магазине проектов. Здесь можно выбрать облик дома, подходящие планировочные решения и больше узнать об авторе проекта, с которым вы будете взаимодействовать при покупке проекта.
                .blog-details__nav
                    .details-nav 
                        ul