mixin item-service(data)
    .item-service
        .item-service__wrp
            .item-service__label(data-services="show")
                .item-service__title= data.title
                .item-service__dl
                    span.ic_dl: +icons('#ic_dl', 33)
                    a(href='#'): span Скачать пример
                    span.item-service__close(data-services="close"): +icons('#ic_cross', 24)
                .item-service__more
                    span Узнать подробнее
            .item-service__main
                .item-service__preview Это разработка общей концепции, предварительный набросок внешнего вида и планировок будущего дома. Во время работы над эскизным проектам становится понятно, какие будут приниматься решения в рабочем проекте исходя из пожеланий заказчика и исходных данных и возможностей.
                .item-service__hover
                    span Подробнее об услуге
                .item-service__tabs
                    ul(data-services="tabs")
                        li.is-active: span О проекте
                        li: span Что входит
                        li: span Стоимость
                .item-service__content(data-services="content")
                    
                    .item-service__tab-item.is-active
                        .formated-text
                            h3= data.title
                            p Это разработка общей концепции, предварительный набросок внешнего вида и планировок будущего дома. Во время работы над эскизным проектам становится понятно, какие будут приниматься решения в рабочем проекте исходя из пожеланий заказчика и исходных данных и возможностей.
                    .item-service__tab-item
                        .formated-text
                            h3 Что входит в раздел
                            h6 Раздел КЖ (конструкции железобетонные)
                            ul
                                li План котлована под фундамент
                                li Схема распределения нагрузок на фундамент
                                li План устройства фундамента (ленточный, свайный, плитный)
                                li Проект дренажа вокруг дома
                                li План ростверка и узлы по ростверку (для свайного фундамента)
                                li Развертки по стенам подвала или цокольного этажа (для ленточного фундамента)
                                li Схемы армирования элементов фундамента
                                li Сечения, узлы и фрагменты элементов фундамента
                                li Спецификация на элементы фундамента
                                li Элементы монолитного каркаса здания: узлы, фрагменты и спецификации (для больших домов и домов в сейсмоопасных регионах)
                                li Проект диафрагмы жесткости (для больших домов и домов в сейсмоопасных регионах)
                                li Схемы армирования монолитных перекрытий
                                li Конструктивные решения по крыльцам, верандам и лестницам
                                li Узел сопряжения цокольной части здания со стеной
                                li Спецификации на монолитные железобетонные изделия (расход арматуры и бетона)

                            h6 Раздел КД (конструкции деревянные)
                            ul
                                li План стропильных ног крыши и навесов
                                li План стоек и других элементов крыши
                                li Продольные и поперечные сечения по крыше
                                li Узлы сопряжения элементов крыши
                                li Конструктивные решения по дополнительным элементам крыши
                                li Спецификации на элементы крыши
                    .item-service__tab-item
                        .formated-text
                            h3 Стоимость конструктивного раздела
                            ul
                                li До 90 м2 – <strong>2000 руб/м2</strong>
                                li От 90 до 200 м2 – <strong>1500 руб/м2</strong>
                                li От 200 м2 – <strong>1300 руб/м2</strong>
            .item-service__show-all
                button.btn(data-services="show") Узнать подробнее


mixin page-services
    section.section-page-services
        .container
            .page-services
                .page-services__list
                    each item in ['Полный проект','Эскизный проект','Архитектурный раздел','Конструктивный раздел','Инженерный раздел','Дизайн интерьера','Ландшафтный дизайн','Другие услуги']
                        .page-services__item.animate: +item-service({
                            title: item
                        })
                         
