header {
    height: 65px;
}

.header {
    background-color: var(--color-bg-02);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 25;



    &__wrp {
        display: flex;

        @media screen and (max-width: $w1200) and (min-width: $w992) {
            flex-wrap: wrap;
        }
    }

    &__leftbar {
        display: flex;
        align-items: center;
    }

    &__burger {
        display: flex;
        width: 56px;
        align-items: center;
        justify-content: center;
        padding: 10px;
        margin-top: 1px;

        @media screen and (min-width: $w992) {
            width: 64px;
        }

        border-right: 1px solid var(--color-borders-01);
    }

    &__logo {

        display: flex;
        align-items: center;

        margin-left: auto;
        margin-right: auto;
        padding-left: 0;

        @media screen and (min-width: $w992) {
            padding-left: 24px;
            margin-left: 0;
            margin-right: 0;
        }


        & .bgimage {
            display: inline-block;
            width: 156px;
            height: 20px;
            @include bgimage-contain;
        }
    }

    &__menu {
        padding-left: 24px;
        display: flex;
        align-items: stretch;
        flex-grow: 1;
        display: none;

        @media screen and (min-width: $w1440) {
            padding-left: 20px
        }

        @media screen and (min-width: $w992) {
            display: block;
        }

        @media screen and (max-width: $w1200) and (min-width: $w992) {
            order: 10;
            width: 100%;
            padding-left: 16px;
            padding-right: 16px;
            border-top: 1px solid var(--color-borders-01);
        }

        & .sub-menu {
            position: absolute;
            left: -3px;
            top: 100%;
            max-width: 300px;
            z-index: 5;

            &>li {
                padding-left: 24px;
                padding-right: 24px;
                border-left: 3px solid transparent;
                transform: rotateY(80deg);
                background-color: var(--color-bg-02);
                transition: opacity .4s, transform .5s;
                opacity: 0;

                &:hover {
                    border-left: 2px solid #fff;
                    background-color: var(--color-bg-01);
                }

                &>a {
                    height: 56px;
                    font-size: 15px;

                    @media screen and (min-width: $w1440) {
                        font-size: 16px;
                    }
                }
            }
        }

        &>ul {
            display: flex;
            align-items: center;

            &>li {
                padding: 0 12px;

                border-left: 2px solid transparent;
                border-right: 2px solid transparent;
                position: relative;

                @media screen and (min-width: $w1440) {
                    padding: 0 calc(3%);
                }

                & a {
                    height: 64px;
                    display: flex;
                    align-items: center;
                    font-size: 16px;
                    font-weight: 500;
                    white-space: nowrap;

                    @media screen and (min-width: $w1440) {
                        font-size: 18px;
                    }


                }

                &:hover {
                    border-left: 2px solid #fff;
                    background-color: var(--color-bg-01);

                    & .sub-menu {
                        visibility: visible;
                        z-index: 10;

                        & li {
                            transform: translateY(0);
                            opacity: 1;

                            &:nth-child(1) {
                                transition-delay: 50ms;
                            }

                            &:nth-child(2) {
                                transition-delay: 150ms;
                            }

                            &:nth-child(3) {
                                transition-delay: 200ms;
                            }

                            &:nth-child(4) {
                                transition-delay: 250ms;
                            }

                            &:nth-child(5) {
                                transition-delay: 300ms;
                            }

                            &:nth-child(6) {
                                transition-delay: 350ms;
                            }

                            &:nth-child(7) {
                                transition-delay: 400ms;
                            }

                            &:nth-child(8) {
                                transition-delay: 450ms;
                            }
                        }
                    }
                }
            }
        }

        & .sub-menu {
            visibility: hidden;
            -webkit-perspective: 400px;
            -moz-perspective: 400px;
            -ms-perspective: 400px;
            -o-perspective: 400px;
            perspective: 400px;
        }
    }


    &__contacts {

        padding-right: 24px;
        padding-top: 8px;
        padding-bottom: 8px;
        margin-left: auto;
        display: none;

        @media screen and (min-width: $w992) {
            display: flex;
        }
    }

    &__contact {
        margin-left: 16px;

        @media screen and (min-width: $w1440) {
            margin-left: 32px;
        }

        &--time {
            display: none;

            @media screen and (min-width: $w1440) {
                display: block;
            }
        }
    }

    &__lang {
        border-left: 1px solid var(--color-borders-01);

        display: flex;
        align-items: center;

    }

}

.dropdown {

    position: relative;
    height: 100%;
    padding: 15px;

    &__list {
        visibility: hidden;
        position: absolute;
        top: 100%;
        z-index: 3;
        right: 0;
        min-width: 100%;
        padding-top: 4px;



        & li {
            padding: 15px;
            background-color: var(--color-bg-02);
            -webkit-perspective: 400px;
            -moz-perspective: 400px;
            -ms-perspective: 400px;
            -o-perspective: 400px;
            perspective: 400px;
            opacity: 0;
            transform: rotateY(-90deg);
            z-index: 4;
        }
    }

    &__title {
        display: flex;
        align-items: center;
        padding: 0;
        height: 100%;




        & span {
            padding-left: 14px;
            font-weight: 500;
            display: none;

            @media screen and (min-width: $w375) {
                display: block;
            }
        }


    }

    &:hover {
        & .dropdown {
            &__list {
                visibility: visible;
                opacity: 1;

                & li {
                    opacity: 1;
                    transform: rotateY(0);
                    z-index: 12;
                    transition: opacity .4s, transform .5s;
                }
            }
        }
    }
}

.header-contact {
    &__label {
        font-size: 14px;
        color: var(--color-text-02);
        text-align: right;
    }

    &__value {
        & a {
            font-weight: 700;
        }
    }
}