.section-services-block {
    padding: 50px 0;
    background-color: var(--color-bg-02);


    @media screen and (min-width: $w1440) {
        padding-bottom: 94px;
    }
}


.services-block {
    &__title {
        font-size: 36px;
        font-family: Roboto Condensed;
        font-weight: 700;
        line-height: 123%;


        @media screen and (min-width: $w1440) {
            font-size: 52px;
        }

        @media screen and (min-width: $w1200) {
            font-size: 46px;
        }

        @media screen and (min-width: $w480) {
            font-size: 36px;
        }

        padding-bottom: 0.6em;
    }

    &__subtitle {
        padding-bottom: 16px;
        color: var(--color-text-02);

        @media screen and (min-width: $w1200) {
            padding-bottom: 32px;
        }
    }

    &__item {
        padding-bottom: 12px;

        &:nth-child(even) {
            &.animated {
                animation: slide-in-blurred-left 1s ease forwards;
                animation-delay: 200;
            }
        }

        &:nth-child(odd) {
            &.animated {
                animation: slide-in-blurred-right 1s ease forwards;
                animation-delay: 200;
            }
        }

        &:last-child {
            padding-bottom: 0;
        }
    }

    &__list {
        padding-bottom: 24px;

        @media screen and (min-width: $w1440) {
            padding-bottom: 46px;
        }
    }

    &__all {
        & .btn {
            padding-left: 2.8em;
            padding-right: 2.8em;
        }
    }




}

.card-services {
    background-color: var(--color-bg-01);
    padding: 20px;
    border-left: 2px solid transparent;

    transition: border 0.5s ease;

    &:hover {
        border-color: #fff;
    }

    @media screen and (min-width: $w576) {
        padding: 21px 24px;
    }

    @media screen and (min-width: $w992) {
        display: flex;
    }

    &__btn {

        @media screen and (min-width: $w992) {
            display: flex;
            align-items: center;
            width: 100%;
            max-width: 200px;

            & a {
                display: block;
                width: 100%;
            }
        }

        & .btn {
            width: 100%;
            font-weight: 500;


        }
    }

    &__title {
        @include font-h4;
        padding-bottom: 12px;

        @media screen and (min-width: $w760) {
            padding-bottom: 10px;
        }
    }

    &__desc {
        padding-bottom: 16px;
        color: var(--color-text-02);
        font-size: 15px;

        @media screen and (min-width: $w992) {
            padding-right: 24px;
            padding-bottom: 0;
        }
    }

    &__icon {
        padding-bottom: 12px;

        &:hover {
            & svg {
                background-color: #eee;
            }
        }

        @media screen and (min-width: $w992) {
            padding-bottom: 0;
            padding-right: 24px;
        }
    }
}


.animated .card-services__icon path {
    stroke-dasharray: 330;
    stroke-dashoffset: 330;
    animation: dash2 3s linear alternate forwards;
}

@keyframes dash2 {
    from {
        stroke-dashoffset: 330;
    }

    to {
        stroke-dashoffset: 0;
    }
}

.animation-mouseleave {
    transform: rotate(0) !important;
    transition: 0.9s ease;
}

.animation-mousemove {
    transition: 0.5s ease;
}