- 
  const app = {

    mainMenu: [
      { 
        text: 'Услуги',  
        href: '/services.html', 
        icon: false
      },
      { 
        text: 'Портфолио',  
        href: '#', 
        icon: false,
        sub: [
          {text: 'Архитектура', href: 'architecture.html'},
          {text: 'Дизайн интерьера', href: 'design.html'},
          {text: 'Ландшафтный дизайн', href: 'landspace-design.html'},
        ]
      },
      { 
        text: 'Магазин проектов',  
        href: '/projects.html', 
        icon: false,
      },
      { 
        text: 'О компании',  
        href: '/about.html', 
        icon: false,
        sub: [
          {text: 'Наша команда', href: '/about.html'},
          {text: 'Пресса о нас', href: '/about.html'},
          {text: 'Блог', href: '/about.html'},
          {text: 'Контакты', href: '/about.html'},
        ]
      },
     
    ],

    mainMenuMobile: [

      { 
        text: 'Главная',  
        href: '/', 
        icon: false
      },
      { 
        text: 'Продукция',  
        href: '/products.html', 
        icon: false
      },
      { 
        text: 'Прайс',  
        href: 'prices.html', 
        icon: false
      },
      { 
        text: 'Вакансии',  
        href: 'vacancy.html', 
        icon: false
      },
      { 
        text: 'Контакты',  
        href: 'contacts.html', 
        icon: false
      },
    ]
  } 