- 
  const app = {

    mainMenu: [
      { 
        text: 'Услуги',  
        href: '/services.html', 
        icon: false
      },
      { 
        text: 'Портфолио',  
        href: '#', 
        icon: false,
        sub: [
          'Архитектура',
          'Дизайн интерьера',
          'Ландшафтный дизайн',
        ]
      },
      { 
        text: 'Магазин проектов',  
        href: '/shop.html', 
        icon: false,
      },
      { 
        text: 'О компании',  
        href: '/about.html', 
        icon: false,
        sub: [
          'Наша команда',
          'Пресса о нас',
          'Блог',
          'Контакты',
        ]
      },
     
    ],

    mainMenuMobile: [

      { 
        text: 'Главная',  
        href: '/', 
        icon: false
      },
      { 
        text: 'Продукция',  
        href: '/products.html', 
        icon: false
      },
      { 
        text: 'Прайс',  
        href: 'prices.html', 
        icon: false
      },
      { 
        text: 'Вакансии',  
        href: 'vacancy.html', 
        icon: false
      },
      { 
        text: 'Контакты',  
        href: 'contacts.html', 
        icon: false
      },
    ]
  } 