/* common styles */

.font-h2 {
    font-size: 34px;
    line-height: 1.23;
    font-weight: 700;

    @media screen and (min-width: $w480) {
        font-size: 42px;
    }
}

.font-h3 {
    font-size: 28px;
    line-height: 1.23;
    font-weight: 700;

    @media screen and (min-width: $w480) {
        font-size: 42px;
    }
}

.page {
    padding-top: 40px;

    &__breadcrumb {
        padding-bottom: 30px
    }

    &__title {

        padding-bottom: 16px;

        & h1 {
            @include font-h1;
            margin: 0;
        }
    }

    &__desc {
        @media screen and (min-width: $w760) {
            font-size: 18px;
            color: var(--color-text-02);
        }
    }
}